@layer components {
    .dialog_modal {
        padding: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
        border: 1px solid var(--modal-border-color, var(--border-color));
        background: var(--modal-background, var(--background));
        color: var(--color);
        border-radius: 4px;
        width: 50%;
        max-width: 500px;
    }

    @media (max-width: 700px) {
        .dialog_modal {
            max-width: unset;
            width: 90vw;
        }
    }

    .dialog_modal[open] {
        animation: modal-fade-in .10s ease-in-out;
    }

    .dialog_modal::backdrop {
        animation: backdrop-fade-in .10s ease-in-out;
    }

    @keyframes modal-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes backdrop-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: var(--modal-backdrop-opacity);
        }
    }

    .dialog_modal_top {
        display: flex;
        margin-bottom: 9px;
        justify-content: space-between;
        align-items: center;
    }

    .dialog_modal_title {
        font-weight: 600;
        font-size: 1.125rem;
    }

    .dialog_modal::backdrop {
        background: var(--color-black);
        opacity: var(--modal-backdrop-opacity);
    }

    .dialog_modal_close_icon {
        display: flex;
        transform: rotate(45deg);
    }
}