@layer components {
    .pair_list_row {
        display: flex;
        margin-bottom: 6px;
    }

    .pair_list_key_input,
    .pair_list_value_input {
        flex: 1;
        margin-right: 6px;
    }

    .pair_list_input_delete_icon {
        display: flex;
        transform: rotate(45deg);
    }
}