.zenin__log {
  height: 100%;
}

.zenin__log_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mid);
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
