@layer components {
    .number_input_box {
        border: none;
        font-family: inherit;
        appearance: none;
        border-radius: var(--px00);
        background: none;
        color: var(--color-foreground);
        transition:
            background var(--duration01) ease-in-out;
        width: 100%;
        outline: none;
        border: 1px solid var(--color-base01);
        padding: 0 var(--px02);
    }

    .number_input_box:focus {
        outline: 1px solid var(--color-link);
    }

    .number_input_box::before {
        content: 'up'
    }
}