@layer components {
    .number_input_box {
        border: none;
        font-family: inherit;
        appearance: none;
        border-radius: 4px;
        background: var(--number-input-background, var(--input-background, transparent));
        color: var(--number-input-color, var(--input-color, var(--primary-color)));
        transition:
            background .30s ease-in-out;
        width: 100%;
        outline: none;
        border: 1px solid var(--number-input-border-color, var(--input-border-color, var(--border-color)));
        padding: 0 9px;
    }

    .number_input_box:focus {
        outline: 1px solid var(--focus-outline-color);
    }

    .number_input_box::before {
        content: 'up'
    }
}