@layer components {
    .number_input_box {
        border: none;
        font-family: inherit;
        appearance: none;
        border-radius: 4px;
        background: none;
        color: var(--color);
        transition:
            background .30s ease-in-out;
        width: 100%;
        outline: none;
        border: 1px solid var(--palette01);
        padding: 0 9px;
    }

    .number_input_box:focus {
        outline: 1px solid var(--link-color);
    }

    .number_input_box::before {
        content: 'up'
    }
}