@layer components {
    .info_component {
        height: 100%;
        padding-right: var(--px00);
    }

    .detail_controls_delete {
        margin-left: auto;
    }

    .info_event_container>span {
        display: block;
        font-weight: 500;
    }

    .info_event_list {
        margin-top: var(--px02);
    }

    .info_event_threshold {
        background: var(--color-base01);
    }

    .info_event_title {
        display: flex;
        justify-content: space-between;
    }
}