@layer components {
    .info_component {
        height: 100%;
        padding-right: 4px;
    }

    .detail_controls_delete {
        margin-left: auto;
    }

    .info_event_container>span {
        display: block;
        font-weight: 500;
    }

    .info_event_list {
        margin-top: 9px;
    }

    .info_event_threshold {
        background: var(--palette01);
    }

    .info_event_title {
        display: flex;
        justify-content: space-between;
    }
}