@layer components {
    .toggle_input {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .toggle_input_controls {
        display: flex;
        width: 100%;
    }

    .input_label.toggle_input_label {
        margin-bottom: 0;
    }

    .toggle_input_label {
        width: 100%;
    }

    .toggle_input_slider_wrapper {
        position: relative;
        width: 34px;
        height: 20px;
    }

    .toggle_input input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle_input input:focus + .toggle_input_slider {
        outline: 1px solid var(--link-color);
        transition: none;
    }

    .toggle_input_slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--palette03);
        transition: .10s;
        border-radius: 34px;
    }

    .toggle_input_slider::before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 2px;
        bottom: 1.5px;
        background-color: var(--background);
        transition: .10s;
        border-radius: 50%;
    }

    input:checked + .toggle_input_slider {
        background-color: var(--color);
    }

    input:checked + .toggle_input_slider::before {
        transform: translateX(12px);
    }

    .toggle_input_subtext {
        margin-top: 9px;
        color: var(--palette04);
    }
}