.zenin__toggle_input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.zenin__toggle_input_controls {
    display: flex;
    width: 100%;
}

.zenin__input_label.zenin__toggle_input_label {
    margin-bottom: 0;
}

.zenin__toggle_input_label {
    width: 100%;
}

.zenin__toggle_input_slider_wrapper {
    position: relative;
    width: 34px;
    height: 20px;
}

.zenin__toggle_input input {
    opacity: 0;
    width: 0;
    height: 0;
}

.zenin__toggle_input_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--off-d);
    transition: var(--fast);
    border-radius: 34px;
}

.zenin__toggle_input_slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background);
    transition: var(--fast);
    border-radius: 50%;
}

input:checked + .zenin__toggle_input_slider {
    background-color: var(--foreground);
}

input:checked + .zenin__toggle_input_slider::before {
    transform: translateX(12px);
}

.zenin__toggle_input_subtext {
    margin-top: var(--px-c);
    color: var(--mid);
}
