.zenin__pair_list_row {
    display: flex;
    min-height: var(--px-h);
}

.zenin__pair_list_key {
    margin-right: var(--px-b);
}

.zenin__pair_list_key, .zenin__pair_list_value {
    display: flex;
    align-items: center;
    padding: var(--px-b) var(--px-d);
    border-radius: var(--rounded);
    border: 1px solid var(--off-b);
    flex: 1;
}