@layer components {
    .login {
        background: var(--login-background, var(--background));
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .login_logo_container {
        margin-bottom: 15px;
    }

    .login_container { 
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .login_logo_container {
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .login_spaced {
        margin-bottom: 15px;
    }

    .login_controls {
        display: flex;
    }

    .login_controls > * {
        margin-right: 9px;
    }

    .login_message_container {
        margin-top: 20px;
    }

    .login_message_container > * {
        max-width: 700px;
        margin: auto;
    }

    .login_message_container > *:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .login_message {
        color: var(--primary-color);
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login_message.error {
        color: var(--failure-color);
    }
}