@layer components {
    .dashboard {
        height: 100%;
        display: flex;
        background: var(--background);
    }

    .dashboard_select_menu {
        position: fixed;
        top: -57px;
        transition: all .30s ease-in-out;
        z-index: 100;
        transition-property: top;
        left: 0;
        right: 0;
        background: var(--background);
    }

    .dashboard_select_menu.selection {
        top: 0;
    }

    .dashboard_main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        container-type: inline-size;
        container-name: dashboard-container;
    }

    .dashboard_main_bottom {
        display: flex;
        padding: 9px;

        /* px-i is equal to the height of the menu bar. */
        height: calc(100% - 57px);
    }

    .dashboard_activity {
        overflow-y: auto;
        overflow-x: hidden;
        margin-left: 9px;
        flex: 1;
    }

    .dashboard_monitors {
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        flex: 1;
        gap: 6px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 175px;
        padding-right: 4px;
    }

    .detail_controls>*:not(:last-of-type) {
        margin-right: 9px;
    }

    .detail_body {
        padding: 9px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border: 1px solid var(--palette01);
        border-bottom: none;
    }

    .detail_controls {
        border: 1px solid var(--palette01);
        position: sticky;
        bottom: 0;
        display: flex;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: var(--background);
        padding: 9px;
        /* Box shadow hides overlapping scrollbar from sticky element. */
        box-shadow: 0px 15px 0px 0px var(--background);
    }

    .dashboard_empty {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dashboard_empty_message {
        color: var(--palette04);
        margin-bottom: 6px;
    }

    @container dashboard-container (max-width: 800px) {
        .dashboard.split .dashboard_monitors {
            display: none;
        }

        .dashboard.split .dashboard_activity {
            margin-left: 0;
        }
    }

    @media (max-width: 700px) {
        .dashboard_main_bottom {
            width: 100vw;
        }
    }
}