@layer components {
    .dialog_confirm_content_top>*:last-child {
        margin-top: 6px;
    }

    .dialog_confirm_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dialog_confirm_content_bottom {
        margin-top: 15px;
    }

    .dialog_modal_top {
        color: var(--modal-title-color, var(--primary-color));
    }

    .dialog_modal_bottom {
        color: var(--modal-color, var(--primary-color));
    }
}