@layer components {
    .dialog_confirm_content_top {
        color: var(--color-base04);
    }

    .dialog_confirm_content_top>*:last-child {
        margin-top: var(--px01);
    }

    .dialog_confirm_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dialog_confirm_content_bottom {
        margin-top: var(--px04);
    }
}