@layer components {
    .dialog_confirm_content_top {
        color: var(--palette04);
    }

    .dialog_confirm_content_top>*:last-child {
        margin-top: 6px;
    }

    .dialog_confirm_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dialog_confirm_content_bottom {
        margin-top: 15px;
    }
}