@layer components {
    .checkbox_input {
        appearance: none;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 14px;
        width: 14px;
        border-radius: var(--px00);
        user-select: none;
        font-weight: 500;
        background: var(--color-background);
        border: 1px solid var(--color-foreground);
    }

    .checkbox_input.checked {
        background: var(--color-foreground);
    }
}