.zenin__info_component {
    height: 100%;
    padding-right: var(--px-a);
}

.zenin__info_name {
    margin: 0 0 var(--px-e) 0;
}

.zenin__detail_controls_delete {
    margin-left: auto;
}

.zenin__info_event_container > span{
    display: block;
    font-weight: 500;
}

.zenin__info_event_list {
    margin-top: var(--px-c); 
}

.zenin__info_event_threshold {
    background: var(--off-b);
}

.zenin__info_event_title {
    display: flex;
    justify-content: space-between;
}

