@layer components {
    .text_input_box {
        border: 1px solid var(--color-base01);
        appearance: none;
        background: var(--color-background);
        color: var(--color-foreground);
        transition: background var(--duration01) ease-in-out;
        width: 100%;
        outline: none;
        border-radius: var(--px00);
    }

    .text_input_box:focus {
        outline: 1px solid var(--color-link);
    }

    .text_input_label {
        color: var(--color-foreground);
    }
}