@layer components {
    .accounts {
        padding-right: var(--px00);
    }

    .account {
        padding: var(--px02);
        border: 1px solid var(--color-base01);
        border-radius: var(--px00);
    }

    .account_rank {
        color: var(--color-base04);
    }

    .account:not(:last-of-type) {
        margin-bottom: var(--px02);
    }

    .account_updated_timestamp {
        display: block;
        color: var(--color-base04);
    }

    .account_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .account_top_right {
        display: flex;
        align-items: center;
    }

    .account_message_container {
        margin-top: var(--px01);
    }

    .account_message {
        border: 1px solid var(--color-foreground);
        border-radius: var(--px00);
        padding: var(--px03);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account_message.error {
        color: var(--color-failure);
        border-color: var(--color-failure);
    }
}