@layer components {
    .accounts {
        padding-right: 4px;
    }

    .account {
        padding: 9px;
        border: 1px solid  var(--border-color);
        border-radius: 4px;
    }

    .account_rank {
        color: var(--secondary-color, var(--primary-color));
    }

    .account:not(:last-of-type) {
        margin-bottom: 9px;
    }

    .account_updated_timestamp {
        display: block;
        color: var(--secondary-color, var(--primary-color));
    }

    .account_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .account_top_right {
        display: flex;
        align-items: center;
    }

    .account_message_container {
        margin-top: 6px;
    }

    .account_message {
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account_message.error {
        color: var(--failure-color);
        border-color: var(--failure-color);
    }
}