@layer components {
    .detail_component {
        border-radius: var(--px00);
        margin: auto;
        display: flex;
        padding-right: var(--px00);
        flex-direction: column;
    }

    .detail_monitor_state {
        background: var(--color-base01);
        flex: .10;
        flex-basis: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid var(--color-base01);
        padding: var(--px02);
    }

    .detail_validation {
        display: block;
        margin-top: var(--px02);
    }

    .detail_delete_button {
        margin-left: auto;
    }

    .text_area_input_box {
        height: 150px;
    }

    .detail_chain_plugin {
        margin-bottom: 0;
    }

    .detail_stacked_hint {
        display: flex;
        flex-direction: column;
    }

    .detail_stacked_hint>*:not(:last-child) {
        margin-bottom: var(--px01);
    }

    .detail_add_event_container {
        display: flex;
        justify-content: flex-end;
    }
}