@layer components {
    .button {
        appearance: none;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--px00);
        font-weight: 500;
        color: var(--color-foreground);
        fill: var(--color-foreground);
        border: 1px solid transparent;
        background: transparent;
    }

    @keyframes fade-default {
        from {
            background: initial;
        }

        to {
            background: var(--color-base01);
        }
    }

    .button:focus {
        outline: none;
    }

    .button:focus-visible {
        outline: 1px solid var(--color-link);
    }

    .button_tooltip {
        position: relative;
    }

    .button_icon {
        display: flex;
    }

    .button_icon.pair {
        margin-right: var(--px02);
    }

    .button.border {
        border-color: var(--color-base01);
    }

    .button:not(.primary).background {
        background-color: var(--color-base01);
    }

    .button.disabled {
        color: var(--color-base03);
        fill: var(--color-base03);
        cursor: not-allowed;
    }

    .button.loading .button_child {
        opacity: 0;
    }

    .button:not(.disabled).primary {
        color: var(--color-background);
        fill: var(--color-background);
        background: var(--color-foreground);
    }

    .button:not(.disabled).destructive {
        color: var(--color-failure);
        fill: var(--color-failure);
    }

    .button:not(.disabled):not(.background).hover.destructive:hover {
        animation: fade-default var(--duration00) ease-in-out forwards !important;
    }

    .button:not(.disabled):not(.background):not(.primary).hover:hover {
        animation: fade-default var(--duration00) ease-in-out forwards !important;
    }

    .button:not(:hover) {
        animation: none !important;
    }

    .tooltip {
        opacity: 0;
        position: absolute;
        background: var(--color-foreground);
        color: var(--color-background);
        font-size: 1rem;
        padding: var(--px01);
        border-radius: 4px;
        pointer-events: none;
        white-space: nowrap;
    }

    .tooltip.visible {
        opacity: 1;
    }
}