@layer components {
    /* Tertiary (Default) */
    .button {
        appearance: none;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--px00);
        font-weight: 500;
        color: var(--button-tertiary-text-color, var(--color-foreground));
        fill: var(--button-tertiary-text-color, var(--color-foreground));
        background-color: var(--button-tertiary-background-color, var(--input-background-color, var(--color-background)));
        border: 1px solid var(--button-tertiary-border-color, var(--input-border-color, var(--color-base01)));
    }

    .button:focus {
        outline: none;
    }

    .button:focus-visible {
        outline: 1px solid var(--button-focus-outline-color, var(--input-focus-outline-color, var(--color-focus)));
    }

    .button_tooltip {
        position: relative;
    }

    .button_icon {
        display: flex;
    }

    .button:not(.border) {
        border: 1px solid transparent;
    }

    .button_icon.pair {
        margin-right: var(--px02);
    }

    /* Disabled styles for primary, secondary and tertiary buttons. */
    .button.disabled {
        color: var(--button-text-color-disabled, var(--color-base03));
        fill: var(--button-text-color-disabled, var(--color-base03));
        background-color: var(--button-background-color-disabled, var(--color-background));
        cursor: not-allowed;
    }
    
    /* Primary */
    .button:not(.disabled).primary {
        color: var(--button-primary-text-color, var(--color-background));
        fill: var(--button-primary-text-color, var(--color-background));
        background-color: var(--button-primary-background-color, var(--color-foreground));
        border-color: transparent;
    }
    
    /* Secondary */
    .button:not(.primary).background {
        color: var(--button-secondary-text-color, var(--color-foreground));
        fill: var(--button-secondary-text-color, var(--color-foreground));
        background-color: var(--button-secondary-background-color, var(--color-base01));
        border-color: transparent;
    }
    
    /* Destructive */
    .button:not(.disabled).destructive {
        color: var(--button-destructive-text-color, var(--color-failure));
        fill: var(--button-destructive-text-color, var(--color-failure));
        background-color: var(--button-destructive-background-color, var(--color-background));
        border-color: transparent;
    }

    .button:not(.disabled):not(.background).hover.destructive:hover {
        animation: fade-default var(--duration00) ease-in-out forwards !important;
    }

    .button:not(.disabled):not(.background):not(.primary).hover:hover {
        animation: fade-default var(--duration00) ease-in-out forwards !important;
    }

    .button:not(:hover) {
        animation: none !important;
    }

    .tooltip {
        opacity: 0;
        position: absolute;
        background: var(--tooltip-background-color, var(--color-foreground));
        color: var(--tooltip-text-color, var(--color-background));
        font-size: 1rem;
        padding: var(--px01);
        border-radius: var(--px00);
        pointer-events: none;
        white-space: nowrap;
    }

    .tooltip.visible {
        opacity: 1;
    }

    @keyframes fade-default {
        from {
            background: initial;
        }

        to {
            background: var(--button-hover-color, var(--color-base01));
        }
    }
}