.zenin__button {  
    appearance: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--rounded);
    user-select: none;
    font-weight: 500;
    color: var(--foreground);
    fill: var(--foreground);
    border: 1px solid transparent;
    background: transparent;
}

.zenin__button_tooltip {
    position: relative;
}

.zenin__button_icon {
    display: flex;
}

.zenin__button_icon.pair {
    margin-right: var(--px-c);
}

.zenin__button.border {
    border-color: var(--off-b);
}

.zenin__button.background {
    background-color: var(--off-b);
}

.zenin__button.disabled {
    color: var(--off-d);
    fill: var(--off-d);
    cursor: not-allowed;
}

.zenin__button.loading .zenin__button_child {
    opacity: 0;
}

.zenin__button:not(.disabled).primary {
    color: var(--background);
    fill: var(--background);
    background: var(--foreground);
}

.zenin__button:not(.disabled).destructive {
    color: var(--dead-a);
    fill: var(--dead-a);
}

.zenin__button:not(.disabled).destructive:hover {
    color: var(--dead-b);
}

.zenin__button:not(.disabled).hover.primary:hover {
    background: var(--primary-hl);  
}

.zenin__button:not(.disabled).hover:hover {
    background: var(--off-b);  
}

.zenin__tooltip {
    opacity: 0;
    position: absolute;
    background: var(--foreground);
    color: var(--background);
    font-size: 1rem;
    padding: var(--px-b);
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
}

.zenin__tooltip.visible {
    opacity: 1;
}