@layer components {
    .chain_component {
        border-radius: 4px;
        border: 1px solid var(--palette01);
        transition: background .10s ease-in-out;
    }

    .chain_controls {
        min-height: 38px;
        display: flex;
        padding: 6px 12px;
        align-items: center;
    }

    .chain_component.pending {
        background: var(--palette01);
    }

    .chain_component.pending,
    .chain_component.pending * {
        cursor: wait;
    }

    .chain_toggle {
        margin-left: auto;
        transition: transform .10s ease-in-out;
        transform: rotate(90deg);
        padding: 4px;
    }

    .chain_component.expanded .chain_toggle {
        transform: rotate(270deg);
    }

    .chain_title {
        color: var(--palette04);
        flex: 0 0 auto;
        margin-right: 28px;
    }

    .chain_popout_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .chain_popout_certificate {
        padding: 6px 12px;
    }

    .chain_popout_certificate:first-of-type {
        padding-top: 0;
    }

    .chain_popout_certificate:not(:last-of-type) {
        border-bottom: 1px solid var(--palette01);
    }

    .chain_popout_certificate:not(:first-of-type) {
        margin-top: 4px;
    }
}