.zenin__dialog_modal {
  position: fixed;
  padding: var(--px-e);
  max-width: 35%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zenin__dialog_modal_upper {
  display: flex;
  margin-bottom: var(--px-c);
  justify-content: space-between;
  align-items: center;
}

.zenin__dialog_modal_title {
  font-weight: 600;
  font-size: 1.125rem;
}

.zenin__dialog_modal_lower {
  height: 100%;;
}

.zenin__dialog_modal_backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transition: all 2s ease-in-out;
  opacity: 0.75;
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95)
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes modal-exit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95)
  }
}

@keyframes backdrop-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--darken);
  }
}

@keyframes backdrop-exit {
  from {
    opacity: var(--darken);
  }
  to {
    opacity: 0;
  }
}