.zenin__modal {
  cursor: default;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--off-b);
  background: var(--background);
  color: var(--foreground);
  z-index: 101;
  border-radius: var(--rounded);
}

.zenin__modal.attached {
  position: absolute;
  right: calc(var(--px-b) + 100%);
  top: -1px;
  height: auto;
  width: 200px;
}

.zenin__modal.floating {
  position: fixed;
  padding: var(--px-e);
  max-width: 35%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zenin__modal_icon_container {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--px-c) 0 0;
}

.zenin__modal_padded {
  padding: var(--px-b);
}

.zenin__modal.primary {
  background: var(--foreground);
  color: var(--background);
  fill: var(--background);
}

.zenin__modal > *:last-child {
  flex: 1;
}

.zenin__modal_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.zenin__modal_item {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--px-d);
  border-radius: var(--rounded);
  align-items: center;
  height: var(--px-h);
  margin-bottom: var(--px-a);
  border: 1px solid transparent;
}

.zenin__modal_item.destructive {
  color: var(--dead-a);
}

.zenin__modal_item:last-of-type {
  margin-bottom: 0;
}

.zenin__modal_item:hover {
  background: var(--off-b);
}

.zenin__modal_backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transition: all 2s ease-in-out;
  opacity: 0.75;
}

.zenin__modal_upper {
  display: flex;
  margin-bottom: var(--px-c);
  justify-content: space-between;
  align-items: center;
}

.zenin__modal_title {
  font-weight: 600;
  font-size: 1.125rem;
}

.zenin__modal_content {
  height: 100%;;
}

.zenin__modal_group_border {
  height: 1px;
  background: var(--off-b);
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95)
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes modal-exit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95)
  }
}

@keyframes backdrop-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--darken);
  }
}

@keyframes backdrop-exit {
  from {
    opacity: var(--darken);
  }
  to {
    opacity: 0;
  }
}