@layer components {
    .text_area_input_box {
        border: 1px solid var(--color-base01);
        appearance: none;
        background: var(--color-background);
        color: var(--color-foreground);
        transition:
            background .30s ease-in-out;
        width: 100%;
        outline: none;
        padding: var(--px02);
        border-radius: var(--px00);
        resize: vertical;
    }

    .text_area_input_box:focus {
        outline: 1px solid var(--color-link);
    }

    .text_area_input_label {
        color: var(--color-foreground);
    }
}