@layer components {
    .table_container {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        width: 100%;
    }

    .table_measurement_count {
        color: var(--secondary-color, var(--primary-color));
    }

    .table_header {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    .table_footer.margin {
        margin-top: 6px;
    }

    .table_footer_page_count {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        color: var(--secondary-color, var(--primary-color));
    }

    .table_head {
        user-select: none;
    }

    .table_head th {
        font-weight: 400;
        color: var(--secondary-color, var(--primary-color));
    }

    .table_head {
        height: 38px;
        width: 100%;
    }

    .table_component table {
        width: 100%;
        border-collapse: collapse;
    }

    .table_component td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table_head th {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .table_head,
    th:first-of-type {
        border-top-left-radius: 2px;
    }

    .table_head,
    th:last-of-type {
        border-top-right-radius: 2px;
    }

    .table_component th,
    .table_component td {
        padding: 6px 12px;
    }

    .table_controls_container {
        display: flex;
        margin-left: auto;
    }

    .table_controls_container>*:not(:last-child) {
        margin-right: 6px;
    }

    .table_footer {
        display: flex;
        justify-content: flex-end;
    }

    .table_footer_right {
        display: flex;
    }

    .table_footer_right>*:not(:first-child) {
        margin-left: 6px;
    }

    .table_container th:last-child,
    .table_container td:last-child {
        text-align: center;
    }
}