.zenin__measurement_timeline {
  display: flex;
  width: 100%;
  border-bottom-right-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  padding: 0 3px;
}

.zenin__measurement_timeline_slot_container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.zenin__monitor.selected .zenin__measurement_timeline_slot {
  height: 25%;
}

.zenin__measurement_timeline_slot_container:hover > .zenin__measurement_timeline_slot {
  height: 100%;
}

.zenin__measurement_timeline_slot {
  transition: height var(--fast) ease-in-out;
  height: 2px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.zenin__measurement_timeline_slot.OK {
  background: var(--ok);
}

.zenin__measurement_timeline_slot.WARN {
  background: var(--warn);
}

.zenin__measurement_timeline_slot.DEAD {
  background: var(--dead-a);
}
