.zenin__monitor_dialog_content {
    width: 150px;
    background: var(--background);
    border: 1px solid var(--off-b);
    border-radius: var(--rounded);
    padding: var(--px-b);
}

.zenin__monitor_dialog_content .zenin__button {
    width: 100%;
    justify-content: flex-start;
}

.zenin__monitor_dialog_section .zenin__button:not(:last-of-type) {
    margin-bottom: var(--px-b);
}

.zenin__monitor_dialog_section:not(:last-of-type) {
    border-bottom: 1px solid var(--off-b);
    padding-bottom: var(--px-b);
    margin-bottom: var(--px-b);
}
