.zenin__settings {
    height: 100%;
    border-radius: var(--rounded);
    padding-right: var(--px-a);
}

.zenin__settings_about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.zenin__settings_about > *:first-child {
    margin-right: var(--px-c);
}

.zenin__settings_version {
    border: 1px solid var(--px)
}
