@layer components {
    .settings {
        height: 100%;
        border-radius: 4px;
        padding-right: 4px;
    }

    .settings_about {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .settings_reload_theme {
        padding-top: 6px;
    }

    .settings_about>*:first-child {
        margin-right: 9px;
    }
}