@layer components {
    .settings {
        height: 100%;
        border-radius: var(--px00);
        padding-right: var(--px00);
    }

    .settings_about {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .settings_reload_theme {
        padding-top: var(--px01);
    }

    .settings_about>*:first-child {
        margin-right: var(--px02);
    }

    .settings_version {
        border: 1px solid var(--px)
    }
}