@layer components {
    .shortcut {
        height: 100%;
        display: flex;
        position: relative;
        background: var(--color-background);
        overflow: hidden;
    }

    .shortcut_content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    .shortcut_placeholder {
        height: 100%;
        width: 100%;
        background: var(---color-base00);
    }

    .shortcut_border {
        right: 0;
        width: 8px;
        position: absolute;
        border-right: 1px solid var(--color-base01);
        transition: border var(--duration00) ease-out;
        height: 100%;
    }

    .shortcut_border:hover {
        border-width: 4px;
    }

    .shortcut_container {
        display: flex;
        margin-top: 18px;
        flex-direction: column;
    }

    .shortcut_container>* {
        margin: var(--px00) 0;
    }

    .shortcut_container .icon {
        margin-right: var(--px02);
    }

    .shortcut_container .button {
        justify-content: flex-start;
    }

    .shortcut_controls_container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: var(--px02);
    }

    .shortcut a {
        color: var(--color-base04);
        text-decoration: none;
    }

    .shortcut a:hover {
        color: var(--color-foreground);
    }

    .shortcut .h_f-col {
        margin-left: auto;
    }

    #shortcut_active_count {
        margin-left: auto;
        margin-right: var(--px01);
    }

    .shortcut_top,
    .shortcut_bottom {
        padding: var(--px02);
    }

    .shortcut_top>* {
        margin-bottom: var(--px02);
    }

    .shortcut_item {
        border: 1px solid var(--color-base01);
        padding: var(--px02);
        width: 100%;
        white-space: nowrap;
        display: flex;
        border-radius: var(--px00);
    }
}