@layer components {
    .shortcut {
        height: 100%;
        display: flex;
        position: relative;
        background: var(--background);
        overflow: hidden;
    }

    .shortcut_content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    .shortcut_placeholder {
        height: 100%;
        width: 100%;
        background: var(--palette00);
    }

    .shortcut_border {
        right: 0;
        width: 8px;
        position: absolute;
        border-right: 1px solid var(--palette01);
        transition: border .10s ease-out;
        height: 100%;
    }

    .shortcut_border:hover {
        border-width: 4px;
    }

    .shortcut_container {
        display: flex;
        margin-top: 18px;
        flex-direction: column;
    }

    .shortcut_container>* {
        margin: 4px 0;
    }

    .shortcut_container .icon {
        margin-right: 9px;
    }

    .shortcut_container .button {
        justify-content: flex-start;
    }

    .shortcut_controls_container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 9px;
    }

    .shortcut a {
        color: var(--palette04);
        text-decoration: none;
    }

    .shortcut a:hover {
        color: var(--color);
    }

    .shortcut .h_f-col {
        margin-left: auto;
    }

    #shortcut_active_count {
        margin-left: auto;
        margin-right: 6px;
    }

    .shortcut_top,
    .shortcut_bottom {
        padding: 9px;
    }

    .shortcut_top>* {
        margin-bottom: 9px;
    }

    .shortcut_item {
        border: 1px solid var(--palette01);
        padding: 9px;
        width: 100%;
        white-space: nowrap;
        display: flex;
        border-radius: 4px;
    }
}