.zenin__shortcut {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.zenin__shortcut_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.zenin__shortcut_border {
  right: 0;
  width: 8px;
  position: absolute;
  border-right: 1px solid var(--off-b);
  transition: border var(--fast) ease-out;
  height: 100%;
}

.zenin__shortcut_border:hover {
  border-width: 4px;
}

.zenin__shortcut_links_container {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

.zenin__shortcut_links_container > * {
  margin: var(--px-a) 0;
}

.zenin__shortcut_links_container .zenin__icon {
  margin-right: var(--px-c);
}

.zenin__shortcut_links_container .zenin__button {
  justify-content: flex-start;
}

.zenin__shortcut_account_container {
  display: flex;
  justify-content: flex-start;
  gap: var(--px-b);
}

.zenin__shortcut a {
  color: var(--mid);
  text-decoration: none;
}

.zenin__shortcut a:hover {
  color: var(--foreground);
}

.zenin__shortcut .zenin__h_stack_vertical {
  margin-left: auto;
}

#zenin__shortcut_active_count {
  margin-left: auto;
  margin-right: var(--px-b);
}

.zenin__shortcut_top, .zenin__shortcut_bottom {
  padding: var(--px-c);
}

.zenin__shortcut_urgent {
  margin-right: var(--px-c);
  display: inline-block;
  height: 5px;
  width: 5px;
  background: var(--warn);
  border-radius: 100%;
}