@layer components {
    .select_input_box {
        background: none;
        width: 100%;
        appearance: none;
        color: var(--color-foreground);
        outline: none;
        padding: 8px 22px 8px var(--px02) !important;
        border-radius: var(--px00);
        border: 1px solid var(--color-base01);
    }

    .select_input_box:focus {
        outline: 1px solid var(--color-link);
    }

    .select_input_controls_container {
        position: relative;
    }

    .select_input_icon_container {
        position: absolute;
        right: var(--px02);
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1999;
    }

    .select.transition select {
        transition: border-color var(--duration01) ease-in-out;
        position: relative;
        width: 100%;
    }
}