.zenin__action_menu_dialog_name {
    padding: var(--px-b) var(--px-d) 0 var(--px-d);
}

.zenin__action_menu_dialog_rank {
    color: var(--mid);
    padding: 0 var(--px-d) var(--px-b) var(--px-d);
}

.zenin__action_menu_log_out_icon {
    display: flex;
    transform: rotate(45deg);
}
