@layer components {
    .menu_spacer.first {
        margin-left: var(--px01);
        margin-right: var(--px01);
    }

    .menu_spacer {
        background: var(--color-base01);
        width: 1px;
        border-radius: var(--px00);
        margin: var(--px03) 0 var(--px03) 0;
    }

    .dashboard_menu {
        display: flex;
        align-items: center;
    }

    .menu_monitor_bulk_container {
        display: flex;
        align-items: center;
    }

    .menu_selected_count {
        margin: 0 var(--px01);
    }
}