@layer components {
    .menu_spacer.first {
        margin-left: 6px;
        margin-right: 6px;
    }

    .menu_spacer {
        background: var(--palette01);
        width: 1px;
        border-radius: 4px;
        margin: 12px 0 12px 0;
    }

    .dashboard_menu {
        display: flex;
        align-items: center;
    }

    .menu_monitor_bulk_container {
        display: flex;
        align-items: center;
    }

    .menu_selected_count {
        margin: 0 6px;
    }
}