@layer components {
    .select_menu .menu_left {
        align-items: center;
    }

    .select_menu_count {
        color: var(--secondary-color, var(--primary-color));
        user-select: none;
    }
}