.zenin__dialog_confirm_content_top {
    color: var(--mid);
}

.zenin__dialog_confirm_content_top > *:last-child {
    margin-top: var(--px-b);
}

.zenin__dialog_confirm_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zenin__dialog_confirm_content_bottom {
    margin-top: var(--px-e);
}
