@layer components {
    .slider_input_box {
        appearance: none;
        width: 100%;
        height: 5px;
        background: var(--palette01);
        border-radius: 4px;
        outline: none;
    }

    .slider_input_box::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 17px;
        height: 17px;
        background: var(--palette02);
        border: 1px solid var(--palette03);
        border-radius: 50%;
    }

    .slider_input_box:focus::-webkit-slider-thumb {
        outline: 1px solid var(--link-color);
    }

    .slider_input_subtext {
        display: block;
        color: var(--palette04);
        margin: 9px 0 0 0;
    }

    .slider_input_controls {
        display: flex;
        align-items: center;
    }
}