.zenin__dashboard {
  height: 100%;
  display: flex;
}

.zenin__dashboard_select_menu {
  position: fixed;
  top: -57px;
  transition: all var(--slow) ease-in-out;
  transition-property: opacity, top;
  opacity: 0;
  left: 0;
  right: 0;
  background: var(--background);
  z-index: 1;
}

.zenin__dashboard_select_menu.selection {
  top: 0;
  opacity: 1
}

.zenin__dashboard_main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  container-name: dashboard-container;
}

.zenin__dashboard_main_bottom {
  display: flex;
  padding: var(--px-c);
  height: calc(100% - var(--px-i));
}

.zenin__dashboard_activity {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: var(--px-c);
  flex: 1;
}

.zenin__dashboard_monitors {
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  flex: 1;
  gap: var(--px-c);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  padding-right: var(--px-a);
  padding-bottom: var(--px-a);
}

.zenin__detail_controls > *:not(:last-of-type) {
  margin-right: var(--px-c);
}

.zenin__detail_body {
  padding: var(--px-c);
  border-top-right-radius: var(--rounded);
  border-top-left-radius: var(--rounded);
  border: 1px solid var(--off-b);
  border-bottom: none;
}

.zenin__detail_controls {
  border: 1px solid var(--off-b);
  position: sticky;
  bottom: 0;
  display: flex;
  border-bottom-left-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  background: var(--background);
  padding: var(--px-c);
  /* Box shadow hides overlapping scrollbar from sticky element. */
  box-shadow: 0px 15px 0px 0px var(--background);
}

@container dashboard-container (max-width: 700px) {
  .zenin__dashboard.split .zenin__dashboard_monitors {
    display: none;
  }

  .zenin__dashboard.split .zenin__dashboard_activity {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .zenin__dashboard_main_bottom {
    width: 100vw;
  }
}
