.zenin__menu_spacer.first {
  margin-left: var(--px-b);
  margin-right: var(--px-b);
}

.zenin__menu_spacer {
  background: var(--off-b);
  width: 1px;
  border-radius: var(--rounded);
  margin: var(--px-d) 0 var(--px-d) 0;
}

.zenin__dashboard_menu {
  display: flex;
  align-items: center;
}

.zenin__menu_monitor_bulk_container {
  display: flex;
  align-items: center;
}

.zenin__menu_selected_count {
  margin: 0 var(--px-b);
}

.zenin__filter_indicator {
  color: var(--mid);
  user-select: none;
}