.zenin__sort_dialog_content {
    min-width: 150px;
    background: var(--background);
    border: 1px solid var(--off-b);
    border-radius: var(--rounded);
    padding: var(--px-b);
}

.zenin__sort_dialog_content .zenin__button {
    width: 100%;
    justify-content: flex-start;
}
    
.zenin__sort_dialog_content .zenin__button:not(:last-of-type) {
    margin-bottom: var(--px-b);
}