@layer components {
    .text_component {
        border-radius: 4px;
        border: 1px solid var(--palette01);
        display: flex;
        flex-direction: column;
    }
    
    .text_title {
        color: var(--palette04);
        height: 38px;
        padding: 6px 12px;
        border-bottom: 1px solid var(--palette01);
        display: flex;
        align-items: center;
        flex: 0 0 auto;
    }
    
    .text_content {
        display: flex;
        min-height: 38px;
        padding: 6px 6px 6px 12px;
    }
    
    .text_scroller {
        display: flex;
        align-items: center;
        max-height: 200px;
        overflow-y: auto;
        word-wrap: break-word;
        vertical-align: baseline;
    }
}