.zenin__info_description {
    background: var(--background);
    word-wrap: break-word;
    border: 1px solid var(--off-b);
    border-radius: var(--rounded);
    padding: var(--px-b) var(--px-d);
}

.zenin__info_description_controls {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: var(--px-c);
}