@layer components {
    .array_input {
        width: 100%;
    }

    .array_input_row {
        display: flex;
        width: 100%;
        margin-bottom: var(--px01);
    }

    .array_input_row:hover .array_input_grab_handle path {
        fill: var(--color-foreground);
    }

    .array_input_text_field {
        flex: 1;
    }

    .array_input_delete {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: var(--px01);
    }

    .array_input_delete_icon {
        display: flex;
        transform: rotate(45deg);
    }

    .array_input .text_input {
        width: 100%;
    }

    .array_input_label {
        margin-top: var(--px01) !important;
    }
}