.zenin__array_input {
    width: 100%;
}

.zenin__array_input_row {
    display: flex;
    width: 100%;
    margin-bottom: var(--px-b);
}

.zenin__array_input_row:hover .zenin__array_input_grab_handle path {
    fill: var(--foreground);
}

.zenin__array_input_text_field {
    flex: 1;
}

.zenin__array_input_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: var(--px-b);
}

.zenin__array_input_delete_icon {
    transform: rotate(45deg);
}

.zenin__array_input .zenin__text_input {
    width: 100%;
}

.zenin__array_input_label {
    margin-top: var(--px-b) !important;
}
