.zenin__shortcut {
  height: 100%;
  display: flex;
  position: relative;
  background: var(--background);
  overflow: hidden;
}

.zenin__shortcut_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.zenin__shortcut_placeholder {
  height: 100%;
  width: 100%;
  background: var(--off-a);
}

.zenin__shortcut_border {
  right: 0;
  width: 8px;
  position: absolute;
  border-right: 1px solid var(--off-b);
  transition: border var(--fast) ease-out;
  height: 100%;
}

.zenin__shortcut_border:hover {
  border-width: 4px;
}

.zenin__shortcut_container {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

.zenin__shortcut_container > * {
  margin: var(--px-a) 0;
}

.zenin__shortcut_container .zenin__icon {
  margin-right: var(--px-c);
}

.zenin__shortcut_container .zenin__button {
  justify-content: flex-start;
}

.zenin__shortcut_controls_container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--px-c);
}

.zenin__shortcut a {
  color: var(--mid);
  text-decoration: none;
}

.zenin__shortcut a:hover {
  color: var(--foreground);
}

.zenin__shortcut .zenin__h_stack_vertical {
  margin-left: auto;
}

#zenin__shortcut_active_count {
  margin-left: auto;
  margin-right: var(--px-b);
}

.zenin__shortcut_top, .zenin__shortcut_bottom {
  padding: var(--px-c);
}

.zenin__shortcut_top > * {
  margin-bottom: var(--px-c);
}

.zenin__shortcut_item {
  border: 1px solid var(--off-b);
  padding: var(--px-c);
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  border-radius: var(--rounded);
}