@layer components {
    .active_widget {
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    .active_widget[data-active="Inactive"] {
        color: var(--color-warn);
    }

    .active_widget[data-active="Active"] {
        color: var(--color-base04);
    }
}