@layer components {
    .id_widget {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: var(--color-base04);
    }

    .id_widget::before {
        content: "#";
    }
}