@layer components {
    .monitor {
        background: var(--color-background);
        border: 1px solid var(--color-base01);
        border-radius: var(--px00);
        display: flex;
        flex-direction: column;
        transition: border-color var(--duration00) ease-in-out;
    }

    .monitor.selected {
        border-color: var(--color-foreground);
    }

    .monitor_top_upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--px02) var(--px02) 0 var(--px02);
    }

    .monitor_top_lower {
        display: flex;
        padding: var(--px01) var(--px02) var(--px02) var(--px02);
    }

    .monitor_top_lower>* {
        margin-right: var(--px00);
    }

    .monitor_name {
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        padding-right: var(--px06);
        white-space: nowrap;
        cursor: default;
    }

    .monitor_name:hover {
        text-decoration: underline;
    }

    .monitor_middle {
        flex: 1;
    }

    .monitor_bottom {
        display: flex;
        flex-direction: row-reverse;
        transition: background var(--duration00) ease-in-out;
        max-height: var(--px05);
        min-height: var(--px05);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .monitor_bottom:hover {
        background: var(---color-base00);
    }

}