@layer globals, base, helpers, components, theme;

@import './css/cover.css' layer(base);
@import './css/dialog.css' layer(base);
@import './css/icon.css' layer(base);
@import './css/input.css' layer(base);
@import './css/menu.css' layer(base);
@import './css/scrollbar.css' layer(base);
@import './css/spinner.css' layer(base);
@import './css/state.css' layer(base);
@import './css/widget.css' layer(base);
@import './css/helper.css' layer(helpers);

@font-face {
    font-family: "Geist Mono";
    src: url("/geistmono.ttf");
}

@font-face {
    font-family: "Geist Sans";
    src: url("/geistsans.ttf");
}

@layer theme {
    :root {   
        --dark-background: rgb(18, 18, 18);
        --dark-foreground: rgb(255, 255, 255);
        --dark-link: rgb(60, 100, 255);
        --dark-color-base00: rgb(32, 32, 34);
        --dark-color-base01: rgb(36, 36, 39);
        --dark-color-base02: rgb(55, 55, 57);
        --dark-color-base03: rgb(65, 65, 67);
        --dark-color-base04: rgb(180, 180, 182);
        --dark-success: rgb(148, 166, 127);
        --dark-warn: rgb(242, 189, 72);
        --dark-failure: rgb(223, 101, 88);
        --dark-modal-opacity: 0.5;
        
        --light-background: rgb(255, 255, 255);
        --light-foreground: rgb(18, 18, 18);
        --light-link: rgb(60, 100, 255);
        --light-color-base00: rgb(235, 235, 237);
        --light-color-base01: rgb(220, 220, 222);
        --light-color-base02: rgb(202, 202, 204);
        --light-color-base03: rgb(185, 185, 187);
        --light-color-base04: rgb(100, 100, 102);
        --light-success: rgb(15, 189, 119);
        --light-warn: rgb(229, 186, 14);
        --light-failure: rgb(235, 55, 45);
        --light-modal-opacity: 0.25;
        
        --background: var(--light-background);
        --color: var(--light-foreground);
        --link-color: var(--light-link);
        --focus-outline-color: var(--light-link);
        --palette00: var(--light-color-base00);
        --palette01: var(--light-color-base01);
        --palette02: var(--light-color-base02);
        --palette03: var(--light-color-base03);
        --palette04: var(--light-color-base04);
        --success: var(--light-success);
        --warn: var(--light-warn);
        --failure: var(--light-failure);
        --modal-backdrop-opacity: var(--light-modal-opacity);

        background: var(--background);
        font-size: 13px;
    }

    :root[data-theme*="dark"] {
        --background: var(--dark-background);
        --color: var(--dark-foreground);
        --link-color: var(--dark-link);
        --focus-outline-color: var(--dark-link);
        --palette00: var(--dark-color-base00);
        --palette01: var(--dark-color-base01);
        --palette02: var(--dark-color-base02);
        --palette03: var(--dark-color-base03);
        --palette04: var(--dark-color-base04);
        --success: var(--dark-success);
        --warn: var(--dark-warn);
        --failure: var(--dark-failure);
        --modal-backdrop-opacity: var(--dark-modal-opacity);
    }

    :root:not([data-theme]) {
        @media (prefers-color-scheme: dark) {
            --background: var(--dark-background);
            --color: var(--dark-foreground);
            --link-color: var(--dark-link);
            --palette00: var(--dark-color-base00);
            --palette01: var(--dark-color-base01);
            --palette02: var(--dark-color-base02);
            --palette03: var(--dark-color-base03);
            --palette04: var(--dark-color-base04);
            --success: var(--dark-success);
            --warn: var(--dark-warn);
            --failure: var(--dark-failure);
            --modal-backdrop-opacity: var(--dark-modal-opacity);
        }
    }
}

@layer globals {
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        overflow: hidden;
        background: var(--background);
        color: var(--color);
    }

    dialog {
        border: none;
        margin: 0;
    }

    [popover] {
        background: none;
        color: inherit;
        margin: 0;
        padding: 0;
        border: none;
    }

    a {
        color: var(--link-color);
        border-radius: 4px;
        padding: 0 2px;
        outline: none;
    }

    a:focus-visible {
        outline: 1px solid var(--focus-outline-color);
    } 
    
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}