@layer components {
    .event_input_threshold_container {
        margin: 15px 0;
    }

    .event_input_threshold_description {
        display: block;
        margin-top: 9px;
    }

    .detail_event {
        padding: 9px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
    }

    .detail_event_marker {
        display: block;
        margin-bottom: 6px;
        cursor: default;
    }
}