@layer components {
    .event_input_threshold_container {
        margin: var(--px04) 0;
    }

    .event_input_threshold_description {
        display: block;
        margin-top: var(--px02);
    }

    .detail_event {
        padding: var(--px02);
        border: 1px solid var(--color-base01);
        border-radius: var(--px00);
    }

    .detail_event_container {
        margin-bottom: var(--px02);
    }

    .detail_event_marker {
        display: block;
        margin-bottom: var(--px01);
        cursor: default;
    }
}