.zenin__table_container {
    border: 1px solid var(--off-b);
    border-radius: var(--rounded);
    width: 100%;
}

.zenin__table_measurement_count {
    color: var(--mid);
}

.zenin__table_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--px-b);
}

.zenin__table_footer {
    margin-top: var(--px-b);
}

.zenin__table_head th {
    font-weight: 400;
    color: var(--mid);
}

.zenin__table_head, .zenin__table_component .zenin__row_component {
    height: var(--px-h);
    width: 100%;
}

.zenin__table_component table {
    width: 100%;
    border-collapse: collapse;
}

.zenin__table_component td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zenin__table_head th {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.zenin__table_head, th:first-of-type {
    border-top-left-radius: 2px;
}

.zenin__table_head, th:last-of-type {
    border-top-right-radius: 2px;
}

.zenin__table_head:hover, .zenin__row_component:hover {
    background: var(--off-a);
}

.zenin__table_component th, .zenin__table_component td {
    padding: var(--px-b) var(--px-d);
}

.zenin__table_component .zenin__row_component {
    border-top: 1px solid var(--off-b);
}

.zenin__table_recent_container {
    position: relative;
    margin-left: var(--px-b);
    margin-left: auto;
}

.zenin__table_footer {
    display: flex;
    justify-content: flex-end;
}

.zenin__table_footer_right {
    display: flex;
}

.zenin__table_footer_right > *:not(:first-child) {
    margin-left: var(--px-b);
}

.zenin__table_container th:last-child, .zenin__table_container td:last-child {
    text-align: center;
} 
