@layer components {
    .not_found {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        background: var(--not-found-background, var(--background));
    }

    .not_found_text {
        margin-bottom: 6px;
        color: var(--not-found-color, var(--palette04));
    }
}