@layer components {
    .not_found {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        background: var(--not-found-background-color, var(--color-background));
    }

    .not_found_text {
        margin-bottom: var(--px01);
        color: var(--not-found-text-color, var(--color-base04));
    }
}