.dialog_content {
    min-width: 175px;
    background: var(--color-background);
    border: 1px solid var(--color-base01);
    border-radius: var(--px00);
}

.dialog_section {
    padding: var(--px01);
}

.dialog_section .button:not(:last-of-type) {
    margin-bottom: var(--px01);
}

.dialog_section .button {
    width: 100%;
    justify-content: flex-start;
}

.dialog_section:not(:last-of-type) {
    border-bottom: 1px solid var(--color-base01);
}