.zenin__h_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zenin__h_right {
  margin-left: auto;
}

.zenin__h_left {
  margin-right: auto;
}

.zenin__h_stack_vertical {
  display: flex;
  flex-direction: column;
}

.zenin__h_advice {
  color: var(--warn);
}

.zenin__h_error {
  color: var(--dead-a);
} 

.zenin__h_monospace {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace, "Geist Mono";
}

.zenin__h_sans {
  font-family: system-ui, sans-serif, "Geist Sans";
}

.zenin__h_margin_top {
  margin-top: var(--px-e);
}