.h_f-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h_f-col {
    display: flex;
    flex-direction: column;
}

.h_c-fg {
    color: var(--primary-color);
}

.h_c-warn {
    color: var(--warning-color);
}

.h_c-dead-a {
    color: var(--failure-color);
}

.h_f-mono {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace, "Geist Mono";
}

.h_f-sans {
    font-family: system-ui, sans-serif, "Geist Sans";
}

.h_m-0 {
    margin: 0;
}

.h_mt-c {
    margin-top: 9px;
}

.h_mb-c {
    margin-bottom: 9px;
}

.h_ml-auto {
    margin-left: auto;
}

.h_mr-auto {
    margin-right: auto;
}