.zenin__input {
  min-height: var(--px-h);
  padding: var(--px-b) var(--px-d);
  font-family: inherit;
  font-size: inherit;
}

.zenin__input_label {
  display: block;
  margin: 0 0 var(--px-b) 0;
  font-weight: 500;
}

.zenin__input_subtext {
  color: var(--mid);
  margin: 0 0 var(--px-b) 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
