.input {
    min-height: var(--px07);
    padding: var(--px01) var(--px03);
    font-family: inherit;
    font-size: inherit;
}

.input_label {
    display: block;
    margin: 0 0 var(--px01) 0;
    font-weight: 500;
}

.input_subtext {
    color: var(--color-base04);
    margin: 0 0 var(--px01) 0;
}