.zenin__menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--off-b);
    justify-content: space-between;
    padding: var(--px-c);
}

.zenin__menu .zenin__button {
    justify-content: center;
    align-items: center;
}

.zenin__menu_left, .zenin__menu_right {
    display: flex;
}
  
.zenin__menu_margin_right {
    margin-right: var(--px-b);
}

@media (max-width: 700px) {
    .zenin__menu {
      width: 100vw;
    }
}
  