.menu {
    height: 57px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--palette01);
    justify-content: space-between;
    padding: 9px;
}

.menu_left, .menu_right {
    display: flex;
}

.menu_margin_right {
    margin-right: 6px;
}

@media (max-width: 700px) {
    .menu {
        width: 100vw;
    }
}