.menu {
    height: var(--px08);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-base01);
    justify-content: space-between;
    padding: var(--px02);
}

.menu_left, .menu_right {
    display: flex;
}

.menu_margin_right {
    margin-right: var(--px01);
}

@media (max-width: 700px) {
    .menu {
        width: 100vw;
    }
}