@font-face {
    font-family: "Geist Mono";
    src: url("@fonts/geistmono.ttf");
}
@font-face {
    font-family: "Geist Sans";
    src: url("@fonts/geistsans.ttf");
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(18, 18, 18);

    --fast: .15s;
    --slow: .30s;

    --px-a: 3px;
    --px-b: 6px;
    --px-c: 9px;
    --px-d: 12px;
    --px-e: 15px;
    --px-f: 28px;
    --px-g: 36px;
    --px-h: 38px;
    --px-i: 57px;

    --rounded: 5px;

    /* Theme: Dark */
    --theme-dark-background: var(--black);
    --theme-dark-foreground: var(--white);
    --theme-dark-primary-hl: rgb(225, 225, 227);
    --theme-dark-subtle: rgb(150, 150, 50);
    --theme-dark-mid: rgb(180, 180, 182);
    --theme-dark-link: rgb(60, 100, 255);
    --theme-dark-off-a: rgb(32, 32, 34);
    --theme-dark-off-b: rgb(36, 36, 39);
    --theme-dark-off-c: rgb(55, 55, 57);
    --theme-dark-off-d: rgb(65, 65, 67);
    --theme-dark-ok: rgb(148, 166, 127);
    --theme-dark-warn: rgb(242, 189, 72);
    --theme-dark-dead-a: rgb(223, 101, 88);
    --theme-dark-dead-b: rgb(213, 91, 78); 
    --theme-dark-darken: 0.5;

    /* Theme: Light */
    --theme-light-background: var(--white);
    --theme-light-foreground: var(--black);
    --theme-light-primary-hl: rgb(24, 24, 26);
    --theme-light-subtle: rgb(150, 150, 50);
    --theme-light-mid: rgb(100, 100, 102);
    --theme-light-link: rgb(60, 100, 255);
    --theme-light-off-a: rgb(235, 235, 237);
    --theme-light-off-b: rgb(220, 220, 222);
    --theme-light-off-c: rgb(202, 202, 204);
    --theme-light-off-d: rgb(185, 185, 187);
    --theme-light-ok: rgb(15, 189, 119);
    --theme-light-warn: rgb(229, 186, 14);
    --theme-light-dead-a: rgb(235, 55, 45);
    --theme-light-dead-b: rgb(245, 55, 45);
    --theme-light-darken: 0.25;
}

:root.zenin__theme_dark {
    --background:   var(--theme-dark-background);
    --foreground:   var(--theme-dark-foreground);
    --primary-hl:   var(--theme-dark-primary-hl);
    --subtle:       var(--theme-dark-subtle);
    --mid:          var(--theme-dark-mid);
    --link:         var(--theme-dark-link);
    --off-a:        var(--theme-dark-off-a);
    --off-b:        var(--theme-dark-off-b);
    --off-c:        var(--theme-dark-off-c);
    --off-d:        var(--theme-dark-off-d);
    --ok:           var(--theme-dark-ok);
    --warn:         var(--theme-dark-warn);
    --dead-a:       var(--theme-dark-dead-a);
    --dead-b:       var(--theme-dark-dead-b); 
    --darken:       var(--theme-dark-darken);
}

:root.zenin__theme_light {
    --background:   var(--theme-light-background);
    --foreground:   var(--theme-light-foreground);
    --primary-hl:   var(--theme-light-primary-hl);
    --subtle:       var(--theme-light-subtle);
    --mid:          var(--theme-light-mid);
    --link:         var(--theme-light-link);
    --off-a:        var(--theme-light-off-a);
    --off-b:        var(--theme-light-off-b);
    --off-c:        var(--theme-light-off-c);
    --off-d:        var(--theme-light-off-d);
    --ok:           var(--theme-light-ok);
    --warn:         var(--theme-light-warn);
    --dead-a:       var(--theme-light-dead-a);
    --dead-b:       var(--theme-light-dead-b);
    --darken:       var(--theme-light-darken);
}

@media (prefers-color-scheme: dark) {
    :root.zenin__theme_auto {
        --background:   var(--theme-dark-background);
        --foreground:   var(--theme-dark-foreground);
        --primary-hl:   var(--theme-dark-primary-hl);
        --subtle:       var(--theme-dark-subtle);
        --mid:          var(--theme-dark-mid);
        --link:         var(--theme-dark-link);
        --off-a:        var(--theme-dark-off-a);
        --off-b:        var(--theme-dark-off-b);
        --off-c:        var(--theme-dark-off-c);
        --off-d:        var(--theme-dark-off-d);
        --ok:           var(--theme-dark-ok);
        --warn:         var(--theme-dark-warn);
        --dead-a:       var(--theme-dark-dead-a);
        --dead-b:       var(--theme-dark-dead-b); 
        --darken:       var(--theme-dark-darken);
    }
}

@media (prefers-color-scheme: light) {
    :root.zenin__theme_auto {
        --background:   var(--theme-light-background);
        --foreground:   var(--theme-light-foreground);
        --primary-hl:   var(--theme-light-primary-hl);
        --subtle:       var(--theme-light-subtle);
        --mid:          var(--theme-light-mid);
        --link:         var(--theme-light-link);
        --off-a:        var(--theme-light-off-a);
        --off-b:        var(--theme-light-off-b);
        --off-c:        var(--theme-light-off-c);
        --off-d:        var(--theme-light-off-d);
        --ok:           var(--theme-light-ok);
        --warn:         var(--theme-light-warn);
        --dead-a:       var(--theme-light-dead-a);
        --dead-b:       var(--theme-light-dead-b);
        --darken:       var(--theme-light-darken);
    }
}

:root {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    background: var(--background);
    color: var(--foreground);
    font-size: 13px;
    line-height: 1.5;
}

:root.ew-resize * {
    cursor: ew-resize !important;
    user-select: none !important;
    -webkit-user-select: none !important; 
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

:root.static * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
}

dialog {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

[popover] {
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: var(--link);
}