::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, var(--hover-background));
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, transparent);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}