::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-base01);
    border-radius: var(--px00);
}

::-webkit-scrollbar-track {
    border-top-right-radius: var(--px00);
    border-bottom-right-radius: var(--px00);
}

::-webkit-scrollbar-corner {
    background: transparent;
}