.state {
    padding: 0 var(--px00);
    border-radius: var(--px00);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 1px solid var(--color-base01);
}

.state[data-state="OK"] {
    background: var(--color-base01);
    color: var(--color-success);
}

.state[data-state="WARN"] {
    background: var(--color-base01);
    color: var(--color-warn)
}

.state[data-state="DEAD"] {
    background: var(--color-base01);
    color: var(--color-failure)
}