.state {
    padding: 0 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 1px solid var(--palette01);
}

.state[data-state="OK"] {
    background: var(--palette01);
    color: var(--success);
}

.state[data-state="WARN"] {
    background: var(--palette01);
    color: var(--warn)
}

.state[data-state="DEAD"] {
    background: var(--palette01);
    color: var(--failure)
}