.zenin__state {
    padding: 0 var(--px-a);
    border-radius: var(--rounded);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 1px solid var(--off-b);
}

.zenin__state[data-state="OK"] {
    color: var(--ok);
}
  
.zenin__state[data-state="WARN"] {
    background: var(--off-b);
    color: var(--warn)
}
  
.zenin__state[data-state="DEAD"] {
    background: var(--off-b);
    color: var(--dead-a)
}
