@layer components {
    .list_component {
        border: 1px solid var(--palette01);
        border-radius: 4px;
    }
    
    .list_row:not(:last-child) {
        border-bottom: 1px solid var(--palette01);
    }
    
    .list_intro, .list_item_container {
        height: 38px;
    }
    
    .list_intro {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        color: var(--palette04);
    }
    
    .list_intro_title {
        width: 100%;
    }
    
    .list_intro:not(.empty) {
        border-bottom: 1px solid var(--palette01);
    }
    
    .list_item_container {
        height: 38px;
        display: flex;
        width: 100%;
        justify-content: space-between !important;
        align-items: center;
        padding: 6px 12px;
    }
    
    .list_item_container:not(:last-child) {
        border-bottom: 1px solid var(--palette01);
    }
    
    .list_map_item_key {
        flex: 0 0 auto;
        margin-right: 50px;
    }
    
    .list_map_item_value {
        white-space: nowrap;
        overflow-x: auto;
    }
}
